@layer theme, base, frosted_ui, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@whop/react/styles.css" layer(frosted_ui);

@config "../../tailwind.config.ts";

body {
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer components {
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		@apply hover:cursor-pointer;
	}
}
